html{
    background-color: #ff3c64;
    
}

body{
    margin: 30px auto;
    height: auto;
    width: 80%;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

h1, h5{
    text-align: left;
    margin: 20px;
}
.strike{
text-decoration: line-through;
}
.filter{
    width:80%;
    height: 80%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.add{
    width:80%;
    height: 80%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.adding{
    display: block;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid black;
    background-color: #ff3c64;
    color: white;
}

.deleting{
    border: none;
    background: white;
    float: right;
    /* margin-right: 150px; */
}

.complete{
    margin-right: 15px;
    float: left;
    border: 1px solid #ff3c64;
    border-radius: 5px;
    color: #ff3c64;
    background-color: white;
}